<!DOCTYPE html>
<html>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="javascripts/submit.js" async></script>-->
<body data-gr-c-s-loaded="true">
<div style="
    display: flex;
">
    <div>
        <form action="/signing_up" method="post">
            SignUp:<br>
            <input type="text" name="username" placeholder="username..." value="abc">
            <br><br>
            <input type="text" name="password" placeholder="password..." value="abc">
            <br><br>
            <input type="text" name="repassword" placeholder="re-password..." value="abc">
            <br><br>
            <input type="submit" name="logup" value="Submit">
        </form>
    </div>
    <div>
        <form action="/sign_in" method="post">
            Sign In :<br>
            <input type="text" name="username" placeholder="username..." value="abc">
            <br><br>
            <input type="text" name="password" placeholder="password..." value="abc">
            <br><br>
            <br><br>
            <input type="submit" name="login" value="Submit">
        </form>
    </div>
</div>


</body>
</html>





